<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Catalogo</title>
</head>
<body>
    <h1>Catalogo de Venda</h1>
    <ul class="container">
        <li class="container-li"><figure>
            <img src="../assets/vinhos/download (1).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/download (1).jpg" alt="" style="height: 300px;">
            <figcaption class="text-primary">Vinho Primus</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 25,90</figcaption>
            </div>
        </figure></li>
        <li class="container-li"><figure>
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <figcaption class="text-primary">Vinho Gato Negro</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 30,90</figcaption>
            </div>
        </figure></li>
        <li class="container-li"><figure>
            <img src="../assets/vinhos/download (3).jpg" alt="" style="height: 300px;" width="200px">
            <img src="../assets/vinhos/download (3).jpg" alt="" style="height: 300px;" width="200px">
            <figcaption class="text-primary">Vinho Seco</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 40,90</figcaption>
            </div>
        </figure></li>
    </ul>

    <ul class="container-1">
        <li class="container-li"><figure>
            <img src="../assets/vinhos/images (1).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/images (1).jpg" alt="" style="height: 300px;">
            <figcaption class="text-primary">Vinho Dominka</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 15,90</figcaption>
            </div>
        </figure></li>
        <li class="container-li"><figure>
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <img src="../assets/vinhos/download (2).jpg" alt="" style="height: 300px;">
            <figcaption class="text-primary">Vinho Negro</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 65,90</figcaption>
            </div>
        </figure></li>
        <li class="container-li"><figure>
            <img src="../assets/vinhos/vinho_terrasses_chateau_pesquie.jpg" alt="" style="height: 300px;" width="200px">
            <img src="../assets/vinhos/vinho_terrasses_chateau_pesquie.jpg" alt="" style="height: 300px;" width="200px">
            <figcaption class="text-primary">Vinho Pisque</figcaption>
            <figcaption class="text-secundary">900ml</figcaption>
            <div class="cotainer-price">
                <figcaption class="text-price">R$ 95,90</figcaption>
            </div>
        </figure></li>
    </ul>
</body>
</html>