* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(238, 9, 121), rgb(255, 106, 0)) repeat scroll 0% 0%;
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    margin-top: 200px;

    
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    margin: 5px;
    color: black;
}
input {
    border-radius: 50px;
    width: 40%;
    height: 40px;
    margin: 5px;
    padding: 15px;
}


button {
    width: 40%;
    height: 40px;
    margin: 8px;
    border: none;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(32, 1, 34), rgb(111, 0, 0)) repeat scroll 0% 0%;
}
.color {
    color: crimson;
}

a {
    text-decoration: none;
    margin: 10px;
    color: black;
}
a:hover {
    color: darkgray;
}