* {
    box-sizing: border-box;
    margin: 0;
}
html {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(to bottom, #F43292, #B035F8 );
    font-family: gotham, arial, helvetica, sans-serif;
    font-size: 18px;
    margin-top: 200px;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 5px;
    color: white;
}

input {
    border-radius: 50px;
    width: 40%;
    height: 40px;
    margin: 5px;
    padding: 15px;
}

button {
    width: 40%;
    height: 40px;
    margin: 8px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, deeppink, purple )
}
button:hover {
    color: darkgray;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5)
}

a {
    text-decoration: none;
    margin: 10px;
    color: black;
}
a:hover {
    color: darkgray;
}

.color {
    color: purple;
}