* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, deeppink, purple);
}

h1 {

    text-align: center;
    margin-top: 15%;
}

.display {
    background: white;
    border-radius: 8px;
    border: 2px solid black;
    height: 103px;
    width: 100%;
}
.historico {
    border: none;
    margin: 2px auto 1px 10px;
    color: darkgray;
}
.calculadora {
    width: 50%;
    margin: 28px auto 5px 32px;
    border: none;
    font-size: 20px;
}
h6 {
    margin-left: 10px;
}

.container {
    background: white;
    border: 2px solid black;
    margin: auto;
    border-radius: 15px;
    height: 300px;
    width: 250px;
}
.item-operador {
    width: 23%;
    height: 38px;
    margin: 0;
    border-radius: 5px;
    background: transparent;
    color: blue;
}
.item {
    width: 23%;
    height: 38px;
    margin: 0;
    border-radius: 5px;
    background: transparent;
    color: black;
}

.button-especifico {
    width: 49%;
    height: 38px;
    border-radius: 5px;
}

button:hover {
    background: darkgray;
}

